<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
// XML comment around #defines so this will validate with plutil before preprocessing.
#include "../InfoPlist.h"
-->
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>GraphSketcher</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>OmniPresence Configuration File</string>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>OmniPresenceConfigDocumentIcon-32.png</string>
				<string>OmniPresenceConfigDocumentIcon-32@2x.png</string>
				<string>OmniPresenceConfigDocumentIcon-128.png</string>
				<string>OmniPresenceConfigDocumentIcon-128@2x.png</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.OmniPresence.config</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Document-ograph-32.png</string>
				<string>Document-ograph-32@2x.png</string>
				<string>Document-ograph-64.png</string>
				<string>Document-ograph-64@2x.png</string>
				<string>Document-ograph-128.png</string>
				<string>Document-ograph-128@2x.png</string>
				<string>Document-ograph-320.png</string>
				<string>Document-ograph-320@2x.png</string>
				<string>Document-ograph-640.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GraphSketcher Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.graphsketcher.graphdocument</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>GraphSketcher-72.png</string>
		<string>GraphSketcher-144.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(OMNI_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>IPAD_MARKETING_VERSION</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.graphsketcher.GraphSketcher.url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>graphsketcher</string>
				<string>com.graphsketcher.GraphSketcher</string>
				<string>com.graphsketcher.GraphSketcher+IPAD_MARKETING_VERSION_NUMBER</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>FULL_BUNDLE_VERSION</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© IPAD_COPYRIGHT_YEARS The Omni Group</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>OFRegistrations</key>
	<dict>
		<key>NSUserDefaults</key>
		<dict>
			<key>defaultsDictionary</key>
			<dict>
				<key>IPadRetailDemo</key>
#if IPAD_RETAIL_DEMO
				<true/>
#else
				<false/>
#endif

				<key>DefaultLineColor</key>
				<string>0 0 0</string>
				<key>DefaultTextColor</key>
				<string>0 0 0</string>
				<key>DefaultFillColor</key>
				<string>0.39 0.64 1.0 0.5</string>  <!-- light blue, in rgba -->
				<key>DefaultBackgroundColor</key>
				<string>1 1 1</string>
				<key>DefaultAxisColor</key>
				<string>0 0 0</string>
				<key>DefaultGridColor</key>
				<string>0.9 0.9 0.9</string>
					
				<key>DefaultLabelFont</key>
				<dict/>
				<key>DefaultAxisTickLabelFont</key>
				<dict/>
				<key>DefaultXAxisTickLabelFont</key>
				<dict/>
				<key>DefaultYAxisTickLabelFont</key>
				<dict/>
				<key>DefaultXAxisTitleFont</key>
				<dict/>
				<key>DefaultYAxisTitleFont</key>
				<dict/>
				
				<key>DefaultLineWidth</key>
				<real>2.0</real>
				<key>DefaultGridWidth</key>
				<real>1</real>
				<key>DefaultAxisWidth</key>
				<real>1.0</real>
				<key>DefaultVertexShape</key>
				<integer>1</integer>  <!-- RS_CIRCLE -->
				<key>DefaultDashStyle</key>
				<integer>0</integer>
				<key>DefaultAxisShape</key>
				<integer>0</integer>
				<key>DefaultConnectMethod</key>
				<string>straight</string>
				
				<key>DisplayAxis</key>
				<true/>
				<key>DefaultAxisPlacement</key>
				<string>origin</string>
				
				<key>DisplayAxisTicks</key>
				<true/>
				<key>DefaultAxisTickWidthIn</key>
				<real>3.0</real>
				<key>DefaultAxisTickWidthOut</key>
				<real>1.0</real>
				
				<key>DisplayAxisTickLabels</key>
				<true/>
				<key>DefaultDistanceToXAxisTickLabels</key>
				<real>3.0</real>
				<key>DefaultDistanceToYAxisTickLabels</key>
				<real>5.0</real>
				
				<key>DisplayAxisTitles</key>
				<true/>
				<key>DefaultXAxisTitlePlacement</key>
				<real>0.5</real>
				<key>DefaultYAxisTitlePlacement</key>
				<real>0.5</real>
				<key>DefaultDistanceToXAxisTitle</key>
				<real>18.0</real>
				<key>DefaultDistanceToYAxisTitle</key>
				<real>18.0</real>
				
				<key>DisplayVerticalGrid</key>
				<false/>
				<key>DisplayHorizontalGrid</key>
				<false/>
				
				<key>ScientificNotationSetting</key>
				<string>auto</string>
				
				<key>EnableLineHinting</key>
				<true/>
				<key>DefaultErrorBarWidth</key>
				<real>1.0</real>

				<!-- TODO: Remove this; the canvas size is likely to be fixed on iPad -->
				<key>LastCanvasSize</key>
				<string>{768, 528}</string>
				<key>LastFrameString</key>
				<string>122 998 600 500 0 0 2560 1578</string>
				
				<!-- Importing data -->
				<key>MaximumDataSetSize</key>
				<integer>500</integer>
				<key>DataFieldSeparators</key>
				<array>
					<string>&#009;</string>
					<string>|</string>
					<string>;</string>
					<!-- After trying all separators listed above, the app will try comma or period, whichever is *not* set as the decimal delimiter in System Preferences. -->
				</array>
				<key>ImportTextColumnAsPointLabels</key>
				<true/>
				<key>AutoScaleRangeOnImport</key>
				<false/>
				<key>UseColorPaletteWhenImportingData</key>
				<true/>
				<key>DataSeriesColorPalette</key>
				<array>
					<string>0.000000 0.000000 0.000000</string>
					<string>0.133333 0.298039 0.784314</string>
					<string>0.000000 0.525490 0.262745</string>
					<string>0.827451 0.000000 0.000000</string>
					<string>0.631373 0.250980 0.549020</string>
					<string>0.498039 0.498039 0.498039</string>
					<string>1.000000 0.368627 0.000000</string>
					<string>0.489296 0.21886 0</string>
					<string>0.508537 0.790539 0.956329</string>
					<string>0.435111 0.827115 0.585794</string>
					<string>1 0.631846 0.730327</string>
					<string>0.835828 0.675547 0.917159</string>
					<string>0.930953 0.643015 0.482506</string>
				</array>
				<key>LineColorPalette</key>
				<array>
					<string>0.000000 0.000000 0.000000</string>
					<string>0.133333 0.298039 0.784314</string>
					<string>0.000000 0.525490 0.262745</string>
					<string>0.827451 0.000000 0.000000</string>
					<string>0.631373 0.250980 0.549020</string>
					<string>0.498039 0.498039 0.498039</string>
					<string>1.000000 0.368627 0.000000</string>
					<string>0.489296 0.21886 0</string>
					<string>0.508537 0.790539 0.956329</string>
					<string>0.435111 0.827115 0.585794</string>
					<string>1 0.631846 0.730327</string>
					<string>0.835828 0.675547 0.917159</string>
					<string>0.930953 0.643015 0.482506</string>
				</array>
				<key>FillColorPalette</key>
				<array>
					<string>0 0 0 0.25</string>
					<string>0.133333 0.298039 0.784313 0.25</string>
					<string>0 0.525490 0.262745 0.25</string>
					<string>0.945098 0.929411 0 0.25</string>
					<string>0.631372 0.250980 0.549019 0.25</string>
					<string>1 0.368627 0 0.25</string>
					<string>0.827450 0 0 0.25</string>
				</array>
				<key>CanvasColorPalette</key>
				<array>
					<string>1 1 1</string>
					<string>0.898039 0.898039 0.898039</string>
					<string>0.894117 0.874509 0.827450</string>
					<string>0.941176 0.886274 0.815686</string>
					<string>1 0.972549 0.858823</string>
					<string>0.905882 0.956862 0.819607</string>
					<string>0.811764 0.854901 0.905882</string>
				</array>

				<!-- App behavior -->
				<key>SelectionSensitivity</key>
				<real>20</real>
				<key>SnapToObjectSensitivity</key>  <!-- most snapping still uses SelectionSensitivity -->
				<real>14</real>
				<key>SnapToGrid</key>
				<true/>
				<key>SnapToGridSensitivity</key>
				<real>8</real>
				<key>PopoutSensitivity</key>
				<real>80</real>
				
				<!-- Stroke recognition -->
				<key>DrawCurvedLines</key>
				<true/>
				<key>SegmentStrokesWhileDrawing</key>
				<false/>
				
				<key>OUIDocumentProxyPreviewAspectRatioByURL</key>
				<dict/>
				<key>OGSUseCoreTextEditor</key>
				<true/>

				<key>OUIWebDAVLocation</key>
				<string></string>
				<key>OUIWebDAVUsername</key>
				<string></string>
				<key>OUIMobileMeUsername</key>
				<string></string>
				<key>OUIOmniSyncUsername</key>
				<string></string>
				<key>OUIImportEnabled</key>
				<true/>
				<key>OUIExportEnabled</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>OFXSyncPathExtensions</key>
	<array>
		<string>ograph</string>
	</array>
	<key>OUIAppIconImage</key>
	<string>GraphSketcher-72.png</string>
	<key>OUIApplicationName</key>
	<string>GraphSketcher</string>
	<key>OUIFeedbackAddress</key>
	<string></string>
	<key>OUICrashReportAddress</key>
	<string></string>
	<key>OUIAppStoreURL</key>
	<string></string>
	<key>OUICompanyAppStoreURL</key>
	<string></string>
	<key>OUIHelpBookFolder</key>
	<string>GraphSketcher Help</string>
	<key>OUIHelpBookName</key>
	<string>GraphSketcher Help</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniPresence Configuration Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.OmniPresence.config</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>omnipresence-config</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.omnigroup.omnipresence.config</string>
			</dict>
			<key>UTTypeIconFiles</key>
			<array>
				<string>OmniPresenceConfigDocumentIcon-32.png</string>
				<string>OmniPresenceConfigDocumentIcon-32@2x.png</string>
				<string>OmniPresenceConfigDocumentIcon-128.png</string>
				<string>OmniPresenceConfigDocumentIcon-128@2x.png</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GraphSketcher Document</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Document-ograph-32.png</string>
				<string>Document-ograph-32@2x.png</string>
				<string>Document-ograph-64.png</string>
				<string>Document-ograph-64@2x.png</string>
				<string>Document-ograph-128.png</string>
				<string>Document-ograph-128@2x.png</string>
				<string>Document-ograph-320.png</string>
				<string>Document-ograph-320@2x.png</string>
				<string>Document-ograph-640.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.graphsketcher.graphdocument</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ograph</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-graphsketcher</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
